{% extends 'base.html' %}

{% block applinks %}
    <li><a ui-sref="addMovements" class="btn btn-default">Add movements</a></li>
    <li><a ui-sref="categories" class="btn btn-default">Categories</a></li>
    <li><a ui-sref="movements" class="btn btn-default">Show movements</a></li>
{% endblock %}
{% block logout %}
<li><a class="navbar-link navbar-right" href="{% url 'userApp.views.user_logout' %}">Logout</a></li>
{% endblock %}
{% block content %}
    <h2>Hello {{ user.username }}</h2>
    <p>Hey your last movement is from: {{ last_movement_date }}</p>
    <div ui-view class="angular-content"></div>

{% endblock %}
{% block jsfiles %}
{% endblock %}
