body {
  background-color: whitesmoke;
}

.angular-content {
  position: relative;
  padding-top: 30px;
}

.negNumber {
  color: indianred;
}

.tag-element {
  border-style: solid;
  border-color: mediumseagreen;
  background-color: mediumseagreen;
  color: white;
  margin-right: 10px;
  border-radius: 25px;
  text-shadow: 0px 1px 1px black;
}

.error {
  color: red;
  font-style: bold;
}